---

---
<!DOCTYPE HTML>

<html>

	<head>
		<title>Open Source @ SQLI Nantes</title>
		<meta charset="utf-8" />
		<meta name="description" content=""/>
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/sqli_nantes.png" alt="SQLI"/></span>
						<!-- <h1>SQLI Nantes</h1> -->
						<p>Projets Open Source à SQLI Nantes</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<!--<li><a href="#first">Vue d'ensemble</a></li>-->
							<li><a href="#second">Projets</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Introduction</h2>
										</header>
										<p>A SQLI, nous aimons l'Open Source et ses valeurs de partage. Vous trouverez
                      ici des projets en Javascript, en Java, en Rust, même en Kotlin ou tout simplement en
                      shell.
                    </p>
                    <p>Au rayon des technologies, Docker, Node ou la Blockchain Ethereum sont nos outils
                      favoris.
                    </p>
                    <p>Bonne visite !</p>
										<ul class="actions">
											<li><a href="https://github.com/sqli-nantes" class="button"><img src="images/GitHub-Mark-32px.png" id="logo_git" alt=""/></a></li>
										</ul>
									</div>
									<span class="image"><img src="images/agence.jpg" alt="" /></span>
								</div>
							</section>

						<!-- Vue d'ensemble -->
							<!--<section id="first" class="main special">
								<header class="major">
									<h2>Vue d'ensemble</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-code"></span>
										<h3>Ipsum consequat</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
									<li>
										<span class="icon major style3 fa-copy"></span>
										<h3>Amed sed feugiat</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
									<li>
										<span class="icon major style5 fa-diamond"></span>
										<h3>Dolor nullam</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
								</ul>
							</section>-->

						<!-- Projets -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Projets</h2>
								</header>
								<ul class="features" id="container_projects">

								{% assign repositories = site.github.public_repositories | sort: 'pushed_at' | reverse %}

								{% for repository in repositories %}
									{% unless repository.fork
										or repository.name == 'sqli-nantes.github.io'
										or repository.name contains 'deprecated' %}
										<li>
											<span class="image"><a href="{{ repository.html_url }}">
											{% if repository.language %}
												<img id="logo" src="images/{{ repository.language }}.png">
											{% else %}
												<img id="logo" src="images/default_image.jpg">
											{% endif %}
											</a></span>
											<h3 id="{{ repository.name }}"><a href="{{ repository.html_url }}">{{ repository.name }}</a></h3>
											<p id="{{ repository.name }}_desc">{{ repository.description }}</p>
										</li>
									{% endunless %}
								{% endfor %}
								</ul>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>SQLI Nantes</h2>
							<p>L’agence accompagne les grandes entreprises de la région et les collectivités territoriales dans leur transformation digitale, depuis le conseil métier et IT jusqu’à la TMA.</p>
							<p>SQLI Nantes rassemble près de 180 collaborateurs.</p>
						</section>
						<p class="copyright"><a href="http://www.sqli.com/"><img src="images/logo_sqli.png" height="24" width="44" style="vertical-align: middle; border: 0px"></a> | SQLI Nantes &copy; 2017 - <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. Design: <a href="https://html5up.net">HTML5 UP</a> modified by <a href="https://github.com/maximegrnd">Maxime GRAND</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script type="text/javascript" src="js/jquery.min.js"></script>
			<script type="text/javascript" src="js/jquery.scrollex.min.js"></script>
			<script type="text/javascript" src="js/jquery.scrolly.min.js"></script>
			<script type="text/javascript" src="js/skel.min.js"></script>
			<script type="text/javascript" src="js/util.js"></script>
			<script type="text/javascript" src="js/main.js"></script>
			<script type="text/javascript" src="js/url_request.js"></script>
			<!--script type="text/javascript" src="js/projects_recovery.js"></script-->

	</body>
</html>